{% extends 'shop/base.html' %}
{% load static %}

{% block links %}
   <link rel="stylesheet" href="{% static 'css/shop/blog/blog.css' %}">
{% endblock %}

{% block content %}
    <div class="content">
        <!-- BREADCRUMBS -->
        <div class="breadcrumbs content">
            <a href="/">
                <img src="{% static 'img/icons/home.png' %}" alt="home-page">
            </a>
            <span class="slash">/</span>
            <p>Блог</p>
        </div>
        <div class="hdng">Блог</div>
        <!-- BLOG POSTS -->
        <div class="blog">
            {% for post in blog_posts %}
            <div class="post">
                <div class="image__wrapper">
                    <a href="{{ post.get_absolute_url }}" class="image">
                        <img src="{{ post.image_thmb.l.path }}" alt="">
                    </a>
                </div>
                
                <div class="data">
                    <div class="heading">
                        <p class="title">{{ post.name }}</p>
                        <p class="date">{{ post.created }}</p>
                    </div>
                    <p class="anotation">{{ post.anotation }}</p>
                    <a href="{{ post.get_absolute_url }}">Читать полностью</a>
                </div>
                
            </div>
                
            {% endfor %}
        </div>
        <!-- PAGINATION -->
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="{% url 'blog:blog' %}">Первая</a>
                    <a href="{% if page_obj.previous_page_number == 1 %}{% url 'blog:blog' %}{% else %}{% url 'blog:blog' page=page_obj.previous_page_number %}{% endif %}">
                        Предыдущая
                    </a>
                {% endif %}
                <span class="current">
                    Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{% url 'blog:blog' page=page_obj.next_page_number %}">Следущая</a>
                    <a href="{% url 'blog:blog' page=page_obj.paginator.num_pages %}">Последняя</a>
                {% endif %}
            </span>
        </div>
    </div>
  
   
{% endblock %}

{% block js %}



{% endblock %}