{% extends './profile.html' %}
{% load static %}
{% block profile %}
<div class="forms user_password_change">
    <p class="title1">Смена пароля</p>

    {% if done %}
        <p>Пароль именен</p>
    {% else %}
        <ul>
            <li>
                <form class="form" action="" method="POST">
                    {% csrf_token %}
                    <div class="fields">
                        {% for field in form %}
                            <div class="{{ field.name }}">
                                {{ field.label_tag }}
                                {{ field.errors }}
                                <p>{{ field }}</p>
                            </div>
                        {% endfor %}
                    </div>
                    
                    <button type="submit">Изменить пароль</button>
                </form>
            </li>
        </ul>
    {% endif %}
    
</div>
{% endblock %}