{% extends './profile.html' %}
{% load static %}

{% block profile %}
<div class="user__comments reviews">
    <p class="title1">Мои вопросы</p>
    <ul class="product_reviews">
        {% for question in user.questions.all %}
            <div class="product">
                <a href="{{ question.product.get_absolute_url }}" class="image">
                    <img src="{{ question.product.get_image }}" alt="">
                </a>
                <div class="data">
                    <a href="{{ question.product.get_absolute_url }}">
                        <p class="bold">{{ question.product.name }} {{ question.product.code }}</p>
                    </a>
                    <p class="price">{{ question.product.price_ua }} грн.</p>
                </div>
            </div>
            {% include 'shop/product/components/question.html' %}
        {% endfor %}
    </ul>
</div>
{% endblock %}