{% extends 'shop/base.html' %}{% load i18n %}{% load static %}

<!-- META TITLE-->
{% block meta_title %}{% trans 'Главная страница' %}{% endblock %}

<!-- META DESCRIPTION-->
{% block meta_description %}{% trans 'Интерент магазин медицинских товаров' %}{% endblock %}

<!-- LINKS -->
{% block links %}
    <link rel="stylesheet" href="{% static 'css/shop/catalogue/catalogue.css' %}">
    <link rel="stylesheet" href="{% static 'css/shop/catalogue/catalogue__pricerange.css' %}">
{% endblock %}

<!-- CONTENT -->
{% block content %}
<div class="content">
    <!-- BREADCRUMBS -->
    <div class="breadcrumbs">
        <a href="/">
            <img src="{% static 'img/icons/home.png' %}" alt="home-page">
        </a>
        <span class="slash">/</span>
        <a href="{% url 'shop:catalogue' %}">Каталог</a>
        {% if category %}
            <span class="slash">/</span>
            {% for c in category.get_ancestors %}
                <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                <span class="slash">/</span>
            {% endfor %}
            <a href="{% url 'shop:catalogue' category=category.slug %}">{{ category.name }}</a>    
        {% endif %}
    </div>

    <!-- TITLE -->
    <p class="hdng">
        {% if not category %}Каталог{% else %}{{ category.name }}
        &nbsp<span>({{ category.products_count }})</span>{% endif %}
    </p>

    <div class="catalogue">
        <input type="checkbox" id="show_filter" checked>
        <div class="filters__wrapper">
            <div class="filters">
                {% include 'shop/catalogue/catalogue__filters.html' %}
            </div>
        </div>
        <label for="show_filter" class="filters__overlay"></label>
      
        <div class="products">
            {% include 'shop/catalogue/catalogue__category_navigation.html' %}
            <div class="heading">
                <label for="show_filter" class="filter_button">
                    <img src="{% static 'img/icons/filter.png' %}" alt="Фильтр">
                    <span>Фильтры</span> 
                </label>
                <div class="sort">
                    <select data-changed=false name="sort" id="">
                        <option value="new" selected=true>По рейтингу</option>
                        <option value="new">Новинки</option>
                        <option value="popular">Популярные</option>
                        <option value="price_asc">Возрастанию цены</option>
                        <option value="price_dsc">Убыванию цены</option>
                    </select>
                </div>
            </div>

            <div class="products__list">
                <div class="products">
                    {% include 'shop/catalogue/catalogue__product__list.html' %}
                </div>
                <div class="more">
                    <button data-href="{{ pages.more }}" class="{% if pages.current == pages.total %}disabled{% endif %} load-more btn-md">
                        Покать еще
                    </button>
                </div>
                
                <div class="pagination">
                    {{ pagination }}
                </div>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}


{% block last %}
    {% if category.description|length %}
        <!-- SEO TEXT -->
        <div class="seo_text">
            <div class="content">
                <p class="title1">{{ category.name }}</p>
                <div class="richtext">
                    {{ category.description|safe }}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}


{% block js %}
<script async src="{% static 'js/shop/catalogue/pricerange.js' %}"></script>
<script>
    var pageCurrent = parseInt('{{ pages.current }}')
    var pageTotal =   parseInt('{{ pages.total }}')
    console.log('Page ' + pageCurrent + ' of ' + pageTotal );

    const productsList = document.querySelector('.products__list')
    const filters = document.querySelector('.filters')
    const pagination = document.querySelector('.pagination')
    const curent_url = "{% url 'shop:catalogue' category=category.slug %}"
    const sortSelect =  document.querySelector('select[name="sort"]') 
    var priceRangeDiv = document.querySelector('.price-slider')
    var filterParams =  document.querySelectorAll('.filter-param')
    var moreButton = document.querySelector('button.load-more')
    
    
    function setPriceRange() {
        priceRangeDiv = document.querySelector('.price-slider')
        priceRangeDiv.dataset.changed = true
        let from = priceRangeDiv.querySelector('.from')
        let to = priceRangeDiv.querySelector('.to')

        priceRangeDiv.dataset.from = priceRangeDiv.querySelector('.from').value
        priceRangeDiv.dataset.to =   priceRangeDiv.querySelector('.to').value

    }


    function getQueryParams() {
        priceRangeDiv = document.querySelector('.price-slider')
        filterParams =  document.querySelectorAll('.filter-param')
        let queryParams = {}
        let from = priceRangeDiv.querySelector('.range_from') 
        let to = priceRangeDiv.querySelector('.range_to') 

        if (from.value != from.min || to.value != to.max) {
            queryParams['price'] = [from.value, to.value]
        }
       
        for (let input of filterParams) {
            if (input.checked) {
                let group = input.dataset.group
                let value = input.dataset.value
                if(queryParams[group] == undefined) {
                    queryParams[group] = [value]
                } else {
                    queryParams[group].push(value)
                }
            }
        }
        return queryParams
    }


    function createUrlParams(queryParams) {
        let params = ''
        for (let group in queryParams) {
            params += group + '=' + queryParams[group].join(',') + '/'
        }
        return params
    } 

    function UpdateCatalogue(data) {
        productsList.querySelector('.products').innerHTML = data['products']
        pagination.innerHTML = data['pagination']
        filters.innerHTML = data['attributes']
        if (data['more']) {
            moreButton.classList.remove('disabled')
        } else {
            moreButton.classList.add('disabled')
        }
        moreButton.dataset.href = data['more']
        initCatalogueFunctions()
    }

    function CreateCatalogueURL(params) {
        let url = null
        // Filter params
        if (params.length > 0) {
            url = curent_url + '/' + params
        } else {
            url = curent_url
        }
        // Sort
        let sort = sortSelect.querySelector('option:checked')
        if (sort.value != 'new') {
            url += '/sort/' + sort.value + '/'
        }
        url = url.replace('//','/')
        return url
    }


    function cataloguePostRequest(params) {
        let url = CreateCatalogueURL(params) 
        window.history.replaceState('','', url);
        XHR('POST',url,{},UpdateCatalogue)
    }


    function FiltersOnClick() {
        for (let input of document.querySelectorAll('.price_range, .filter-param, select[name="sort"]')) {
            input.onchange = () => { 

                if (input.classList.contains('price_range')) {
                    setPriceRange()
                }
                let queryParams = getQueryParams()
                let params = createUrlParams(queryParams)
                cataloguePostRequest(params) 
            }
        }
    } 

    function LoadMore(data) {
        productsList.querySelector('.products').innerHTML += data['products']
        pagination.innerHTML = data['pagination']
        filters.innerHTML = data['attributes']
        if (data['more']) {
            moreButton.classList.remove('disabled')
            moreButton.dataset.href = data['more']
        } else {
            moreButton.classList.add('disabled')
        }
        
        initCatalogueFunctions()
    }

    moreButton.onclick = () => {
        let queryParams = getQueryParams()
        let params = createUrlParams(queryParams)
        let url = moreButton.dataset.href
        if (url) {
            window.history.replaceState('','', url);
            XHR('POST',url,{}, LoadMore)
        }
        
    }

    function initCatalogueFunctions() {
        for (let link of document.querySelectorAll('.pagiantion_link')) {
            link.onclick = (e) => {
                e.preventDefault()
                window.history.replaceState('','', link.href);
                XHR('POST', link.href, {}, UpdateCatalogue) 
            }
        }
        WishlistInnit()
        FiltersOnClick()
    } 
    initCatalogueFunctions()
    

</script>
{% endblock %}