{% load static %}
<div class="catalogue__product">
    <div class="image">
        <a href="{{ product.get_absolute_url }}">
            <img src="{{ product.images.all.0.image_thmb.l.path }}" alt="">
        </a>
    </div>
    <div class="info">
        <div class="top">
            {% if product.reviews.all|length %}
                <div class="reviews">
                    <div class="stars">
                        <img src="{% static 'img/icons/star.png' %}" alt="*">
                        <img src="{% static 'img/icons/star.png' %}" alt="*">
                        <img src="{% static 'img/icons/star.png' %}" alt="*">
                        <img src="{% static 'img/icons/star.png' %}" alt="*">
                        <img src="{% static 'img/icons/star.png' %}" alt="*">
                    </div>
                    <p>3 отзыва</p>
                </div>
            {% endif %}
            <p>{{ item.quntity }} шт.</p>
            
        </div>
        <p class="name">{{ product.name }}</p>
        <p class="code">код: <span>{{ product.code }}</span></p>
    </div>
</div>