{% load static %}
<div class="heading">
    <p>Фильтры</p>
    <label for="show_filter" class="close">
        <img src="{% static 'img/close.png' %}" alt="x">
    </label>
</div>

<div class="block price {% if min_price == max_price %}deactivated{% endif %}">
    <div class="title">Цена</div>
    <div class="data">
        {% include 'shop/catalogue/catalogue__pricerange.html' %}
    </div>
</div>
{% for attr in attributes %}
    <div class="block">
        <div class="title">{{ attr.name }}</div>
        <div class="data">
            {% for value in attr.values %}
                {% if value.count > 0 %}
                    <li>
                        <label class="ml8" for="attr-{{ value.pk }}">
                            <input 
                                type="checkbox" 
                                class="filter-param" 
                                id="attr-{{ value.pk }}"
                                data-group="{{ attr.slug }}"  
                                data-value="{{ value.slug }}" 
                                {% if value.selected %}
                                    checked=true
                                {% endif %}
                            >
                            <span class="checkbox"></span>
                            <p>
                                <span>{{ value.name }}</span>
                                    <span class="qty filterd">({{ value.count }})</span> 
                                    {% if value.more %}
                                    <span class="qty more">+{{ value.more }}</span>
                                    {% endif %}
                                    {% if value.count2  %}
                                    <span class="qty ">{{ value.count2 }}</span>
                                    {% endif %}
                            </p>
                        </label>
                    </li>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endfor %}